body{
   

.main-div{
   
    width: 100%;
    .heading{
        text-align: center;
    }
    .welcomeimg{ 
               background: url(../../../assets/img/covid19.jpg);
               background-repeat: no-repeat;
               background-position: center;
               width:100%;
               height:60%;
               margin-bottom: 30px;
    }
    
}
}